<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ $.Site.BaseURL }}">
  <title>{{ $.Site.Title }}</title>
  <link rel="stylesheet" href="css/main.css" />
</head>