<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

{{ partial "header" . }}

<body>
  <h1>Hugo with Gulp, PostCSS and Webpack</h1>

  <p>
    Welcome to your new
    <a href="https://gitlab.com/michel.montejuado/michel-hugo-boilerplate">Michel Hugo</a> website!
  </p>

  {{ partial "footer" . }}

</body>

</html>